<div class="py-5">
    <div class="container">
         <app-title [componentName]="componentName" [dark]="isDark"></app-title>
       <div class="row py-4 g-5">
        <div class="col-lg-4 col-6">
            <app-portfolio-card [image]="image1"></app-portfolio-card>
        </div>
        <div class="col-lg-4 col-6">
            <app-portfolio-card [image]="image2"></app-portfolio-card>
        </div>
        <div class="col-lg-4 col-6">
            <app-portfolio-card [image]="image3"></app-portfolio-card>
        </div>
        <div class="col-lg-4 col-6">
            <app-portfolio-card [image]="image1"></app-portfolio-card>
        </div>
        <div class="col-lg-4 col-6">
            <app-portfolio-card [image]="image2"></app-portfolio-card>
        </div>
        <div class="col-lg-4 col-6">
            <app-portfolio-card [image]="image3"></app-portfolio-card>
        </div>
    </div> 
    </div>
    
    
</div>