<div>
    <div class="row bg-main text-center mx-auto p-5 text-white ">
        <div class="col py-5">
            <h3>LOCATION</h3>
            <p>2215 John Daniel Drive</p>
            <span>Clark, MO 65243</span>
        </div>
        <div class="col py-5">
            <h3>AROUND THE WEB</h3>
            <div class="text center mt-3">
                <a class="mx-1 border border-1 border-white rounded-circle p-2 text-white"><i class="fa-brands fa-facebook"></i></a> 
                <a class="mx-1 border border-1 border-white rounded-circle p-2 text-white"><i class="fa-brands fa-twitter"></i></a>
                <a class="mx-1 border border-1 border-white rounded-circle p-2 text-white"><i class="fa-brands fa-linkedin"></i></a>
                <a class="mx-1 border border-1 border-white rounded-circle p-2 text-white"><i class="fa-solid fa-globe"></i></a>
            </div>
        </div>
        <div class="col py-5">
            <h3>ABOUT FREELANCER</h3>
            <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
    </div>
    <div class="p-3 text-center bg-tertiary text-white">
        <p class="text-capitalize">copyrights &copy; your website 2025</p>
    </div>
</div>